# ===============================================================
# Basic Configuration
# ===============================================================

# Build with OpenMP support? (Default: NO)
USE_OPENMP = NO

# Use intel compilers? (Otherwise use GNU) (Default: NO)
USE_INTEL = NO

# Debug level - 1: Turn on -g, -O1; 0: Turn of -g, use -Ofast
DEBUG_LEVEL = 1

# Enable/Disable extra compiler warnings
WARNINGS = OFF

# Build CPU or GPU variant?
TARGET_ARCH = CPU


# ===============================================================
# MPI Support
# ===============================================================

# Location of MPI install
# ^^^^^^^^^^^^^^^^^^^^^^^^
#   We expect:
#     mpicc / mpicxx to be at $(MPI_ROOT)/bin,
#     libraries to be at $(MPI_ROOT)/lib,
#     headers to be at $(MPI_ROOT)/include
#   Create symlinks to the proper folders if this is not the case.
MPI_ROOT = /opt/openmpi-4/

# ===============================================================
# NVIDIA GPU Support
# ===============================================================

# Location of CUDA install
# ^^^^^^^^^^^^^^^^^^^^^^^^
#   We expect:
#     nvcc to be at $(CUDA_ROOT)/bin,
#     libraries to be at $(CUDA_ROOT)/lib,
#     headers to be at $(CUDA_ROOT)/include
#   Create symlinks to the proper folders if this is not the case.
CUDA_ROOT = /usr/local/cuda-7.5/

# CUDA compute capability to target
CUDA_CC = 30


# ===============================================================
# Python Wrapping
# ===============================================================

# Python header include directories for building SWIG Python wrapper
MPI4PY_INC_DIR = /usr/local/lib/python3.5/dist-packages/mpi4py/include
PYTHON_INC_DIR = /usr/include/python3.5m/

# Location of swig executable for Python wrapping
SWIG_BIN = /usr/bin/
