OPENMP = NO
CUDA = NO
DEBUG_LEVEL = 1
WARNINGS = ON

CU_SM = 30
CUC = /usr/local/cuda-7.5/bin/nvcc

MPI4PY_INC_DIR = /usr/local/lib/python2.7/dist-packages/mpi4py/include
PYTHON_INC_DIR = /usr/include/python2.7/
SWIG_BIN = /usr/bin/

WARNINGS=OFF

CUDA_INC_DIR=/usr/local/cuda-7.5/targets/x86_64-linux/include
CUDA_LIB_DIR=/usr/local/cuda-7.5/targets/x86_64-linux/lib

MPI_LIB_DIR=/usr/lib/openmpi/lib
MPI_INC_DIR=/usr/lib/openmpi/include
