OPENMP = NO
CUDA = NO
INTEL = YES
DEBUG_LEVEL = 1
WARNINGS = OFF
CU_SM = 35

HOME=/p/home/jcrabill/

# For Python3:
PYTHON_INC_DIR = $(HOME)/local/include/python3.6m/
MPI4PY_INC_DIR = $(HOME)/workspace/py3env/lib/python3.6/site-packages/mpi4py/include/
NUMPY_INC_DIR  = $(HOME)/workspace/py3env/lib/python3.6/site-packages/numpy/core/include/
SWIG_BIN = $(HOME)/local/bin/

ifeq ($(INTEL),YES)
  MPI_INC_DIR   = /opt/cray/pe/mpt/default/gni/mpich-intel/16.0/include
  MPI_LIB_DIR   = /opt/cray/pe/mpt/default/gni/mpich-intel/16.0/lib
else
  MPI_INC_DIR   = /opt/openmpi/2.0.2/include/
  MPI_LIB_DIR   = /opt/openmpi/2.0.2/lib/
endif

CUDA_LIB_DIR=/global/software/Core/CUDA/8.0.61/lib64
CUDA_INC_DIR=/global/software/Core/CUDA/8.0.61/include
