OPENMP = NO
CUDA = YES
DEBUG_LEVEL = 1
WARNINGS = OFF
CU_SM = 20

MPI4PY_INC_DIR = /home/jcrabill/Workspace/pyfr-venv/lib/python3.4/site-packages/mpi4py/include/
PYTHON_INC_DIR = /home/jcrabill/Workspace/pyfr-venv/include/python3.4m
#MPI4PY_INC_DIR = /usr/local/lib/python2.7/dist-packages/mpi4py/include
#PYTHON_INC_DIR = /usr/include/python2.7/
SWIG_BIN = /usr/bin/
CUDA_INC_DIR = /usr/local/cuda-7.5/include
CUDA_LIB_DIR = /usr/local/cuda-7.5/lib64
CUC = /usr/local/cuda-7.5/bin/nvcc
