OPENMP = NO
CUDA = NO
DEBUG_LEVEL = 2
WARNINGS = OFF
CU_SM = 35

ifeq ($(WORK), )
    WORK = /cstor/stanford/gerritsn/users/jcrabill/
endif

# For Python3:
# PYTHON_INC_DIR = $(WORK)/local/include/python3.5m
# MPI4PY_INC_DIR = $(WORK)/workspace/pyfr-venv/lib/python3.5/site-packages/mpi4py/include
# NUMPY_INC_DIR = $(WORK)/workspace/pyfr-venv/lib/python3.5/site-packages/numpy/core/include
# For Python2.7:
PYTHON_INC_DIR = $(WORK)/local/include/python2.7
MPI4PY_INC_DIR = $(WORK)/workspace/py2env/lib/python2.7/site-packages/mpi4py/include
NUMPY_INC_DIR = $(WORK)/workspace/py2env/lib/python2.7/site-packages/numpy/core/include
SWIG_BIN = $(WORK)/local/bin/

MPI_INC_DIR   = $(WORK)/local/include
MPI_LIB_DIR   = $(WORM)/local/lib

CUDA_LIB_DIR=/global/software/Core/CUDA/8.0.61/lib64
CUDA_INC_DIR=/global/software/Core/CUDA/8.0.61/include
