OPENMP = NO
CUDA = NO
DEBUG_LEVEL = 2
WARNINGS = OFF
CU_SM = 35

ifeq ($(WORK), )
    WORK = /cstor/stanford/gerritsn/users/jcrabill/
endif

PYTHON_INC_DIR = $(WORK)/local/include/python3.5m
MPI4PY_INC_DIR = $(WORK)/workspace/pyfr-venv/lib/python3.5/site-packages/mpi4py/include
SWIG_BIN = $(WORK)/local/bin/

MPI_INC_DIR   = $(WORK)/local/include
MPI_LIB_DIR   = $(WORM)/local/lib

CUDA_LIB_DIR=/global/software/Core/CUDA/7.5.18/lib64
CUDA_INC_DIR=/global/software/Core/CUDA/7.5.18/include
